
h1 {
	
	color: white;
	background: blue;
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	width:400px;
	text-align: center;

}
.container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img
{
	width: 450px;
	height:300px;
	
	margin: 10px;
	transition: all 1s;
}
img:hover{
	transform: scale(1.1);

}
body
{
	background: black;
}
